---
to: src/components/<%= name %>.tsx
unless_exists: true
---
import React from 'react';
import { <%= name %>Props } from './types';

/**
 * <%= description || name + ' component' %>
 * 
 * @param props - The component props
 * @returns JSX element
 */
export const <%= name %>: React.FC<<%= name %>Props> = ({
<% if (props && props.length > 0) { -%>
<% props.forEach((prop, index) => { -%>
  <%= prop.name %><% if (!prop.required) { %>?<% } %>,
<% }) -%>
<% } -%>
  className,
  children,
  ...rest
}) => {
  return (
    <div 
      className={`<%= name.toLowerCase() %><% if (hasVariants) { %> <%= name.toLowerCase() %>--${variant}<% } %> ${className || ''}`}
      {...rest}
    >
<% if (hasIcon) { -%>
      <Icon name={iconName} size={iconSize} />
<% } -%>
      {children}
    </div>
  );
};

export default <%= name %>;